@page
@model IndexModel
@{
    ViewData["Title"] = "Accueil";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue sur notre projet d'analyse du mariage stable</h1>

    <form asp-controller="Main" asp-action="GenerateCandidacies" method="post" id="choose-count">
        <div class="form-group">
            <label for="count">Choisissez combien d'étudiants et d'établissements vous souhaitez générer</label>
            <input type="number" class="form-control col-1 mx-auto" id="count" name="count" value="5" />
        </div>
        <button class="btn btn-outline-primary" type="submit">Valider</button>
    </form>
    <div id="preferencies-content"></div>
</div>

@section Scripts
{

<script type="text/javascript">

    var buildPreferencies = function () {

        var allStudents = $(".students-items.sortable");
        var allEstablishments = $(".establishments-items.sortable");

        var data = {
            students: [allStudents.length],
            establishments: [allEstablishments.length]
        };

        allStudents.each(function (i, item) {

            var id = $(item).prev("h5").data("id");
            var name = $(item).prev("h5").html();

            var preferencyOrders = $(item).children();
            var preferencies = [preferencyOrders.length];

            preferencyOrders.each(function (j, preferency) {

                var preferencyId = $(preferency).data("id");
                var preferencyName = $(preferency).html();

                preferencies[j] = { id: preferencyId, name: preferencyName };
            });

            data.students[i] = { id, name, preferencies };
        });

        allEstablishments.each(function (i, item) {

            var id = $(item).prev("h5").data("id");
            var name = $(item).prev("h5").html();

            var preferencyOrders = $(item).children();
            var preferencies = [preferencyOrders.length];

            preferencyOrders.each(function (j, preferency) {

                var preferencyId = $(preferency).data("id");
                var preferencyName = $(preferency).html();

                preferencies[j] = { id: preferencyId, name: preferencyName };
            });

            data.establishments[i] = { id, name, preferencies };
        });

        $.ajax({
            url: "@Url.Action("InitModel", "Main")",
            method: "POST",
            async: false
        });

        for (var i = 0; i < data.students.length; i++) {

            console.log("for");

            $.ajax({
                url: "@Url.Action("BuildModel", "Main")",
                method: "POST",
                data: {
                    student: data.students[i],
                    establishment: data.establishments[i]
                },
                async: false
            });
        } 
    }

    var generateResultsByStudents = function (e) {
        e.preventDefault();

        buildPreferencies();

        $("#generate-solution").submit();
    }

    var generateResultsByEstablishments = function (e) {
        e.preventDefault();

        buildPreferencies();

        $("#generate-solution").prop("action", $("#generate-solution").prop("action").replace("GenerateSolutionByStudents", "GenerateSolutionByEstablishments"));
        $("#generate-solution").submit();
    }

    $(document).ready(function () {

        // Evénements
        $(document).on("click", "#validate-preferencies-by-student", generateResultsByStudents);
        $(document).on("click", "#validate-preferencies-by-establishment", generateResultsByEstablishments);
    });

</script>
}