@page
@model IndexModel
@{
    ViewData["Title"] = "Accueil";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue sur notre projet d'analyse du mariage stable</h1>

    <form asp-controller="Main" asp-action="GenerateCandidacies" method="post" id="choose-count">
        <div class="form-group">
            <label for="count">Choisissez combien d'étudiants et d'établissements vous souhaitez générer</label>
            <input type="number" class="form-control col-1 mx-auto" id="count" name="count" value="5" />
        </div>
        <button class="btn btn-outline-primary" type="submit">Valider</button>
    </form>
    <div id="preferencies-content"></div>
</div>